<%# locals: { phase } %>
<div class="row" id="<%= dom_id(phase) %>">
  <div class="col-xs-12">
    <p class='fontsize-h4'>
      <%= _('Instructions') %>
      <a href="<%= edit_plan_path(plan_id, phase_id: phase.id) %>" class="btn btn-default pull-right"><%= _('Write plan') %></a>
    </p>
    <p class="text-justify">
        <div class="display-readonly-textarea-content">
          <!-- Madroño template translation -->
          <%= render html: _(phase.description).html_safe %>
        </div>
    </p>
  </div>

  <div class="col-xs-12">
    <ul class="list-unstyled">
      <% phase.sections.order(:number).each do |s| %>
        <li class="mb-5">
          <!-- Madroño template translation -->
          <%= _(s.title) %>
          <ul>
            <% s.questions.each do |q| %>
              <li>
                <div class="display-readonly-textarea-content">
                  <!-- Madroño : Template translation -->
                  <%= render html: _(q.text).html_safe %>
                </div>
              </li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>
  </div>
</div>
